%script{:src => "//mc.yandex.ru/metrika/watch.js", :type => "text/javascript"}
%div{:style => "display:none;"}
  :javascript
    try { var yaCounter1461889 = new Ya.Metrika(1461889);yaCounter1461889.clickmap(true);yaCounter1461889.trackLinks(true); } catch(e){}
%noscript
  %div{:style => "position:absolute"}
    %img{:alt => "", :src => "//mc.yandex.ru/watch/1461889"}/