- content_for :right do
  .icons
    .align-center
      %a{:href => "https://github.com/4pcbr", :title => "My github repos"}
        %img{:src => "/assets/media/octocat.png"}/
      %a{:href => "http://careers.stackoverflow.com/4pcbr", :title => "My CV on careers.stackoverflow.com"}
        %img{:src => "/assets/media/careers.png"}/
      %a{:href => "http://twitter.com/4pcbr", :title => "My profile on twitter"}
        %img{:src => "/assets/media/twitter.png"}/
      %a{:href => "http://4pcbr.habrahabr.ru/", :title => "My profile on habrahabr"}
        %img{:src => "/assets/media/habr.png"}/
    .align-center
      %a{:href => "http://i.4pcbr.com/", :title => "Mac screen capture uploader"}
        %img{:src => "/assets/media/uploader_80.png"}/
      %a{:href => "http://bundles.4pcbr.com/", :title => "TextMate CP1251 bundles"}
        %img{:src => "/assets/media/mate_80.png"}/
      %a{:href => "http://light.4pcbr.com", :title => "Arduino stuff"}
        %img{:src => "/assets/media/light_80.png"}/
