- content_for :right do
  .icons
    .align-center
      %a{:href => "https://github.com/4pcbr", :title => "My github repos"}
        %img{:src => "/assets/media/octocat.png"}/
      %a{:href => "http://careers.stackoverflow.com/4pcbr", :title => "My CV on careers.stackoverflow.com"}
        %img{:src => "/assets/media/careers.png"}/
      %a{:href => "http://twitter.com/4pcbr", :title => "My profile on twitter"}
        %img{:src => "/assets/media/twitter.png"}/
      %a{:href => "http://4pcbr.habrahabr.ru/", :title => "My profile on habrahabr"}
        %img{:src => "/assets/media/habr.png"}/
  %ul.nav.nav-list
    %li.nav-header
      Some extra stuff
    %li
      %a{ :href => "http://i.4pcbr.com/" }
        %i.icon-upload
        Screenshot uploader for MacOS
    %li
      %a{ :href => "http://bundles.4pcbr.com/" }
        %i.icon-cog
        TextMate CP1251 bundles
    %li
      %a{ :href => "http://light.4pcbr.com" }
        %i.icon-minus-sign
        %i.icon-plus-sign{ :style => "margin-left: -10px;" }
        Arduino stuff
    %li
      %a{ :href => "http://4pcbr.github.com/DocumentObject/" }
        %i.icon-th
        Processing document object library
    %li.nav-header
      Contact me
    %li
      %a{ :href => "mailto:me@4pcbr.com" }
        %i.icon-envelope
        me@4pcbr.com
    %li.nav-header
      %i.icon-bookmark
      Everyday toolkit
    %li
      %a{ :href => "http://html5rocks.com/" }
        %i.icon-book
        html5rocks.com
    %li
      %a{ :href => "http://html2haml.heroku.com/" }
        %i.icon-cog
        html2haml.heroku.com
    %li
      %a{ :href => "http://jsbeautifier.org/" }
        %i.icon-cog
        jsbeautifier.org
    %li
      %a{ :href => "http://hypercomments.com/" }
        %i.icon-comment
        hypercomments.com

