- content_for :right do
  .align-center
    %a{:href => "https://github.com/4pcbr", :title => "github"}
      %img{:src => "/assets/media/github_80.jpeg"}/
  .align-center
    %a{:href => "http://careers.stackoverflow.com/4pcbr", :title => "my CV on careers.stackoverflow.com"}
      %img{:src => "/assets/media/careers_80.png"}/
  .align-center
    %a{:href => "http://4pcbr.habrahabr.ru/", :title => "habrahabr"}
      %img{:src => "/assets/media/habr_80.png"}/
  .align-center
    %a{:href => "http://twitter.com/4pcbr", :title => "twitter"}
      %img{:src => "/assets/media/twitter_80.png"}/
  .align-center
    %a{:href => "http://facebook.com/profile.php?id=100001256148752", :title => "facebook"}
      %img{:src => "/assets/media/facebook_80.png"}/
  .align-center
    %a{:href => "skype://o.s.sidorov", :title => "skype"}
      %img{:src => "/assets/media/skype_80.png"}/
  .align-center
    %a{:href => "http://i.4pcbr.com/", :title => "Mac screen capture uploader"}
      %img{:src => "/assets/media/uploader_80.png"}/
  .align-center
    %a{:href => "http://bundles.4pcbr.com/", :title => "TextMate CP1251 bundles"}
      %img{:src => "/assets/media/mate_80.png"}/
  .align-center
    %a{:href => "http://light.4pcbr.com", :title => "Arduino stuff"}
      %img{:src => "/assets/media/light_80.png"}/