/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body { padding: 20px; }

.field_with_errors>label,.field_with_errors .help-block,.field_with_errors .help-inline{color:#b94a48;}
.field_with_errors input,.field_with_errors select,.field_with_errors textarea{color:#b94a48;border-color:#b94a48;}.field_with_errors input:focus,.field_with_errors select:focus,.field_with_errors textarea:focus{border-color:#953b39;-webkit-box-shadow:0 0 6px #d59392;-moz-box-shadow:0 0 6px #d59392;box-shadow:0 0 6px #d59392;}
.field_with_errors .input-prepend .add-on,.field_with_errors .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48;}
